<li>
    <p>
      <% if (locals.user && locals.user.id == post.user.id){ %>  
          <!-- view leve - check1 - jisne post kiya doubt and jisne and jo user sign in hai usko hi deletekrne ka option dekhegaa -->
      <small>
          <a href="/comments/destroy/<%= post.id %>">X</a>
      </small> 
      
      <% } %>
 
      <%= comment.content %>
      <br>
      <small>
          <%= comment.user.name %>
      </small>
  </p> 
</li> 