
<link rel  = "stylesheet"  href = "users_profile.css">
        <h1>Codeial / profile </h1>

        <!-- abhi kya kra hai na ki css m ek ar file banaye hai users_profile.css
        ki becoz kuch ese bhi to css hogi jo sirf users_profile.ejs m hogi to uske liye
         alg css m properties dale and thn users_profile.ejs m usko mention kiya run hone ke liye -->

         <!-- but ho kya rha hai na ..ki changes to show ho rhe hai but inspect krne pr head m kevl layout.css vale link show ho rhi hai ..so to get rid of that ar chize krne padegi -->
       

         <p>Name: <%= user.name %></p>

         <p>Email: <%= user.email %></p>