<h1>sign in page</h1>
<form action = "/users/create-session " method = "POST">
    <input type = "email" name = "email" placeholder = "Your Email" required>
    <input type = "password" name = "password" placeword = "Password"  required>
    <input type = "Submit">
</form>


