<h1> sign up page</h1>

<form action = "/users/create " method = "POST">
    <input type = "text"  name = "name" placeholder = "Your Name" required>
    <input type = "email" name = "email" placeholder = "Your Email"  required>
    <input type = "password" name = "password" placeholder = "Password"  required>
    <input type = "password" name = "confirm_password" placeholder= "Confirm Password">
    <input type = "Submit">

<p>
    <a href = "/users/auth/google">Google Sign Up / Sign In</a>
</p>

</form>